<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723990530602-p62phe23hmdd7tij1mqf1qko4iblm1v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723990530602-p62phe23hmdd7tij1mqf1qko4iblm1v4</string>
	<key>API_KEY</key>
	<string>AIzaSyBhzlISQhydPMee0any9RZithHZ_lOFzV8</string>
	<key>GCM_SENDER_ID</key>
	<string>723990530602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umutsurmeli.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-f89ea</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-f89ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723990530602:ios:06061bee005a8b41f81153</string>
</dict>
</plist>